# Version pinning is done by pip-compile in requirements.txt
# Only pin versions if there are specific issues with versions
# That you want to communicate to the next developer
# Also add a comment explain what the issue is.

# Dev dependencies, to few to pull into separate requirements file
pip-tools

# Prod dependencies
accelerate
# datasets  # Disabled on Google Collab since conflicting with GPU variant of torch
langchain==0.2.14  # More compatible with the Google Collab environment
plac
torch
transformers

# Pinned transient dependencies
# phi-3-mini-4k-instruct model gives a warning to use numpy<2
numpy<2
